**connect to msql database**

import packages for the connection

In [22]:
import pyodbc
from sqlalchemy import create_engine, inspect

set up connection parameters

In [4]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=CULLEN-PC;"
            "Database=wayne;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)

server = 'CULLEN-PC' 
database = 'wayne' 
driver = 'SQL Server Native Client 11.0'
# username = 'username' 
# password = 'password'

engine = create_engine(f'mssql://{server}/{database}?trusted_connection=yes&driver={driver.replace(" ","+")}')
conn = engine.connect()

get a list of the table names in the database

In [24]:
inspector = inspect(engine)

for i in inspector.get_table_names():
    print(i)

geometry_columns
parcel_info
parcel_polys
spatial_ref_sys
sysdiagrams
tracts
tractshp

query and insert into pandas dataframe

In [26]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore')

In [28]:
query = "select * from parcel_polys;"
data = pd.read_sql(query, cnxn)

only show the first two columns for demo purposes

In [37]:
data[data.columns[:2]]

        FID PARCELNO
0         6      1.2
1        16       10
2        20     55.8
3        26     53.A
4        33       35
...     ...      ...
1995  10175      180
1996  10178       45
1997  10189     49.6
1998  10203    121.7
1999  10215       31

[2000 rows x 2 columns]